@model IEnumerable<MoviesReview.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>


@using (Html.BeginForm("Search", "Movies", FormMethod.Get))
{
    <aside style="margin: 20px 0">Enter up to 2 search parameters and click the "Search" button below</aside>

    <div class="container">
        <div class="row">
            <div class="form-group col-md-2">
                <div class="control-label">Name</div>
                <input type="text" name="name" class="form-control" />
            </div>

            <div class="form-group col-md-2">
                <div class="control-label">Genere</div>
                <input type="text" name="genere" class="form-control" />
            </div>

            <div class="form-group col-md-2">
                <div class="col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" style="position: absolute; top: 24px" />
                </div>
            </div>


        </div>
    </div>

    <hr />
}
    <h6>Please add a movie!</h6>
    <button type="button" class="btn" style="border-radius: 15px 5px;">
        @Html.ActionLink("Add a new Movie", "Create")
    </button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genere.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrailerUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Genere.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src='@Html.DisplayFor(modelItem => item.ImageUrl)' style="height:50px;width:100px;" />
            </td>
            <td>
                <iframe id="ytplayer" type="text/html" width="400" height="240"
                        src='@Html.DisplayFor(modelItem => item.TrailerUrl)'
                        frameborder="0"></iframe>
            </td>
            <td style="display:flex; justify-content: space-between">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "nav-link custom-nav-link btn btn-info" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "nav-link custom-nav-link btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "nav-link custom-nav-link btn btn-info" })
            </td>
        </tr>
    }

</table>
