@*@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@

@{
    MoviesReview.Models.User user = ((MoviesReview.Models.User)Session["User"]);
}

<ul class="navbar-nav bd-navbar-nav flex-row navbar-right">
    @if (user == null)
    {
        <li class="nav-item">
            @Html.ActionLink("Register", "Create", "Users", new { area = "" }, new { @class = "btn btn-primary" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Login", "Login", "Users", new { area = "" }, new { @class = "btn btn-primary" })
        </li>
    }
    else
    {
        <li class="nav-item" style="margin-top: 6px; margin-right: 20px">
            <a style="color: black !important; font-size: 18px; pointer-events: none;" href="#">
                Welcome @(user.FirstName + " " + user.LastName)
            </a>
        </li>
        <li class="nav-item" style="margin-right: 10px">
            @Html.ActionLink("Log Out", "Logout", "Users", new { area = "" }, new { @class = "nav-link" })
        </li>
    }
</ul>