@using MoviesReview.Models
@model IEnumerable<Review>

@{
    ViewBag.Title = "Reviews";
    var user = (User)Session["User"];
}




@using (Html.BeginForm("Search", "Reviews", FormMethod.Get))
{
    <aside style="margin: 20px 0">Enter up to 3 search parameters and click the "Search" button below</aside>

    <div class="container">
        <div class="row">

            <div class="form-group col-md-2">
                <div class="control-label">Title</div>
                <input type="text" name="title" class="form-control" />
            </div>

            <div class="form-group col-md-2">
                <div class="control-label">Content</div>
                <input type="text" name="Content" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <div class="control-label">Movie</div>
                <input type="text" name="movieName" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <div class="col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" style="position: absolute; top: 20px" />
                </div>
            </div>

            <div class="form-group col-md-4">
                @if (user != null)
                {
                    Review recommendedReview = ViewBag.recommendedReview;

                    if (recommendedReview != null)
                    {
                        <h6>Recommended just for you :)</h6>
                        <p>Click on the link below to see the most popular review in your favorite category - <b>@Html.DisplayFor(modelItem => recommendedReview.Title)</b></p>
                        <a>@Html.ActionLink(recommendedReview.Title, "../Reviews/RecommendedReviewDetails")</a>
                    }
                }
            </div>
        </div>
    </div>

    <hr />

    <div class="col-md-10">
        @if (user != null)
        {
            <h6>Please add a review!</h6>
            <button type="button" class="btn" style="border-radius: 15px 5px;">
                @Html.ActionLink("Add a new Review", "Create")
            </button>
        }
    </div>

    <hr />
}

@foreach (var review in Model)
{
    <section>
        <article class="blogPost">
            <div>
                <h4 style="color: green; display: inline-block;">
                    @Html.DisplayFor(modelItem => review.Title)
                </h4>
                <a href="https://twitter.com/intent/tweet?screen_name=stackReviews&text=Read this review for @review.Title http://localhost:51259/Reviews/Details/@review.Id" class="twitter-mention-button" data-show-count="false">Tweet to stackReviews</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <p>Posted on @Html.DisplayFor(modelItem => review.CreationDate) by @Html.ActionLink(review.User.Username, "Details", "User", new { id = review.User.Id }, null) - <b>@review.Comments.Count Comments</b></p>

            <div style="column-count: 3; column-gap:40px; column-rule: 1px solid lightgrey">
                @Html.DisplayFor(modelItem => review.Content)
            </div>
            <div>
                @Html.ActionLink("Details", "Details", new { id = review.Id })
                @if (user != null && user.IsAdmin)
                {
                    <span> | </span> @Html.ActionLink("Edit", "Edit", new { id = review.Id })
                    <span> | </span> @Html.ActionLink("Delete", "Delete", new { id = review.Id })
                }
            </div>
        </article>
    </section>
    <br />
    <section id="comments">
        <h5>Comments</h5>
        @foreach (var comment in review.Comments)
        {
            <article>
                <header>
                    <span>By @comment.User.Username</span> at @comment.CreationDate
                </header>
                @comment.Content
            </article>
        }

        @if (user != null)
        {
            using (Html.BeginForm("PostComment", "Reviews"))
            {
                <input type="hidden" name="userId" value="@user.Id" />
                <input type="hidden" name="reviewId" value="@review.Id" />
                <textarea type="text" name="content" placeholder="Add a new comment..." style="margin: 10px 0"></textarea>
                <input type="submit" value="Post" class="btn btn-default" />
                <br />
            }
        }
    </section>
    <hr />
}

