@{
    ViewBag.Title = "Search";
}

@using Reviews.Models
@model IEnumerable<Review>

@{
    ViewBag.Title = "Search Results";
    var user = (User)Session["User"];
}

@using (Html.BeginForm("Search", "Reviews", FormMethod.Get))
{
    <aside style="margin: 20px 0">Enter up to 3 search parameters and click the "Search" button below</aside>

    <div class="container">
        <div class="row">
            <div class="form-group col-md-2">
                <div class="col-md-2">
                    Title:

                </div>
                <div class="col-md-10">
                    <input type="text" name="title" />
                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="col-md-2">
                    Content:
                </div>
                <div class="col-md-10">
                    <input type="text" name="content" />
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.MovieID, "MovieID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MovieID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MovieID, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group col-md-2">
                <div class="col-md-2">
                    Date:
                </div>
                <div class="col-md-10">
                    <input type="date" name="date" />
                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="col-md-2">
                    Movie:
                </div>
                <div class="col-md-10">
                    <input type="text" name="movieName" />
                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" style="position: absolute; top: 20px" />
                </div>
            </div>

            <div class="form-group col-md-4">
                @if (user != null)
                {
                    Review recommendedReview = ViewBag.recommendedReview;

                    if (recommendedReview != null)
                    {
                        <h6>Recommended just for you :)</h6>
                        <p>Click here to see the most popular review in your favorite category</p>
                        <a>@Html.ActionLink(recommendedReview.Title, "./RecommendedReviewDetails")</a>
                    }
                }
            </div>
        </div>
    </div>

    <hr />

    <div class="col-md-10">
        @if (user != null)
        {
            <h6>There is no a review? Go ahead and add one!</h6>
            <button type="button" class="btn" style="border-radius: 15px 5px">
                @Html.ActionLink("Add a new Review", "Create")
            </button>
        }
    </div>

    <hr />
}
@foreach (var review in Model)
{
    <section>
        <article class="blogPost">
            <h4 style="color: green">
                @Html.DisplayFor(modelItem => review.Title)
            </h4>

            <p>Posted on @Html.DisplayFor(modelItem => review.CreationDate) by <a href="#">@Html.DisplayFor(modelItem => review.User.Username)</a> - <a href="#comments">@review.Comments.Count Comments</a> in @Html.DisplayFor(modelItem => review.Title) category</p>

            <div style="column-count: 3; column-gap:40px; column-rule: 1px solid lightgrey">
                @Html.DisplayFor(modelItem => review.Content)
            </div>

            @if (user != null && user.IsAdmin)
            {
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = review.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = review.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = review.Id })
                </div>
            }

        </article>
    </section>
    <br />
    <section id="comments">
        <h5>Comments</h5>

        @foreach (var comment in review.Comments)
        {
            <article>
                <header>
                    <span>By @comment.User.Username</span> at @comment.CreationDate
                </header>
                @comment.Content
            </article>
        }

        @if (user != null)
        {
            using (Html.BeginForm("PostComment", "Reviews"))
            {
                <input type="hidden" name="userId" value="@user.Id" />
                <input type="hidden" name="reviewID" value="@review.Id" />
                <input type="text" name="content" placeholder="comment" style="margin: 10px 0" />
                <input type="submit" value="Post" class="btn btn-default" />

                <br />
            }
        }
    </section>
    <hr />
}

